<footer class="footer-main">
    {{ site.title }} © {{ site.time | date: '%Y' }}

    <a class="link exception" href="{{ site.url }}/feed.xml" target="_blank">
        <i class="fa-solid fa-rss"></i>
    </a>

    <p class="extra">
        <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a>
        by
        <a class="link" href="https://github.com/sergiokopplin/indigo">Kopplin</a>
        (with modifications by <a class="link" href="https://mikwee.neocities.org">mikwee</a>)
    </p>
</footer>
