<!-- To add more icons, duplicate a section and find yout icon here -> https://fontawesome.com/v6.0/icons -->

<div class="social-links">
    {% if site.facebook %}
        <a class="link exception" data-title="facebook.com/{{ site.facebook }}" href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener">
            <i class="fa-brands fa-facebook"></i>
        </a>
    {% endif %}

    {% if site.twitter %}
        <a class="link exception" data-title="twitter.com/{{ site.twitter }}" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener">
            <i class="fa-brands fa-twitter"></i>
        </a>
    {% endif %}

    {% if site.tumblr %}
        <a class="link exception" data-title="{{site.tumblr}}.tumblr.com" href="https://{{site.tumblr}}.tumblr.com" target="_blank"  rel="noopener">
            <i class="fa-brands fa-tumblr"></i>
        </a>
    {% endif %}

    {% if site.reddit %}
        <a class="link exception" data-title="reddit.com/u/{{site.reddit}}" href="https://reddit.com/u/{{site.reddit}}" target="_blank"  rel="noopener">
            <i class="fa-brands fa-reddit"></i>
        </a>
    {% endif %}
    
    {% if site.mastodon %}
        <a class="link exception" data-title="{{site.mastodon.instance}}/@{{site.mastodon.username}}" href="https://{{site.mastodon.instance}}/@{{site.mastodon.username}}" target="_blank"  rel="noopener">
            <i class="fa-brands fa-mastodon"></i>
        </a>
    {% endif %}

    {% if site.instagram %}
        <a class="link exception" data-title="instagram.com/{{ site.instagram }}" href="https://instagram.com/{{ site.instagram }}" target="_blank"  rel="noopener">
            <i class="fa-brands fa-instagram"></i>
        </a>
    {% endif %}

    {% if site.linkedin %}
        <a class="link exception" data-title="linkedin.com/in/{{ site.linkedin }}" href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank"  rel="noopener">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    {% endif %}

    {% if site.github %}
        <a class="link exception" data-title="github.com/{{ site.github }}" href="https://github.com/{{ site.github }}" target="_blank"  rel="noopener">
            <i class="fa-brands fa-github"></i>
        </a>
    {% endif %}
    

    {% if site.email %}
        <a class="link exception" data-title="{{ site.email }}" href="mailto:{{ site.email }}"  rel="noopener">
            <i class="fa-regular fa-envelope"></i>
        </a>
    {% endif %}
</div>
